body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(75deg, #a296d9 0%, #ccd995 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

button {
  cursor: pointer;
}